/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  /* Estilização geral */
  body {
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  /* Container do formulário */
  .container-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
  }
  
  /* Título */
  h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }
  
  /* Campos do formulário */
  .formulario {
    display: flex;
    flex-direction: column;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
  }
  
  input,
  select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: border 0.3s ease;
  }
  
  input:focus,
  select:focus {
    border-color: #007bff;
  }
  
  /* Botão */
  .container-button {
    text-align: center;
    margin-top: 15px;
  }
  
  button {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
    width: 100%;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  